/* Will be compiled down to a single stylesheet with your sass files */

body {
    padding: 0;
    margin: 0;
    height: 100%;
}

#map{
	width: 100%;
}

html, body, #map {
    height: 100%;
}

.description{
	display: inline-block;
	width: 50%;
	/*height: 200px; */
	margin-right: 20px;
	text-align: right;
	vertical-align: top;
	
}
.colours {
	display: inline-block;
	width: 100px;
}


#legendContent{
/*	display: none; */
width: 450px;
padding: 20px;
}
#pie{
	fill: #CCCCCC;
}
.graph{
		display: inline-block;
	width: 40%;
	vertical-align: middle;
	
}
.graph svg{
	width: 200px;
}

svg:hover #pie{
	fill: #999999;
}

.legend{
	background-color: rgba(255,255,255,0.9);
	padding: 5px;
	border: 1px solid #CCCCCC;
	border-radius:10px;
	color: #777777;
}

.legend .block{
	width: 20px;
	height: 3px;
}

#sun{
	stroke: orange;
	stroke-dasharray: 4,4;
	stroke-width: 3;
}

.legend h1{
	text-align: right;
	font-size: 15px !important;
	color: orange !important; 
}
