<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<title>Winter solstice for {{ city.name }}</title>
<meta name="description" content="">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />


<!-- Place favicon.ico and apple-touch-icon.png in the root directory -->


<link rel="stylesheet" href="/static/styles/main.css">
<!--  <link rel="stylesheet" href="styles/bootstrap.css"> -->
<link rel="stylesheet"
	href="http://cdn.leafletjs.com/leaflet-0.7.1/leaflet.css" />
<!--  <script src="scripts/vendor/modernizr.min.js"></script> -->
<script>
var stats = {{stats|tojson|safe}};
var winter = {{winter|tojson|safe}};
var summer = {{summer|tojson|safe}};

var city = {{city|tojson|safe}};
var streetIndex = {{streetIndex|tojson|safe}};
</script>


</head>
<body>
				<div id="map"></div>
				
		<div id="legendContent" class="legend">
<div class="description">
    <h1>{{city.name}}</h1>
<div class="graph">
	<svg width="400" height="400">
				<g transform="translate(200,200)">
				<path id='ticks'></path>
				<circle id='innerCircle' r="190" class="circles"></circle>
				<circle id='outerCircle' r="199" class="circles"></circle>
				
				<path id="pie"></path>
				<path id="summerSun"></path>
				<path id="winterSun"></path>
				
				
				<g>
				</svg>
</div>				

<a href='/'> &lt;&lt; back to main page and other cities</a>
</div>
			</div>
<div id="legendColours" class="legend">
<h2>Roads aligned along</h2>
<span class="block" style="background-color:orange">&nbsp;&nbsp;&nbsp;</span> Summer solstice sunrise / Winter solstice sunset<br>
<span class="block" style="background-color:red">&nbsp;&nbsp;&nbsp;</span> Summer solstice sunset / Winter solstice sunrise<br>

</div>
	<script
		src="//ajax.googleapis.com/ajax/libs/jquery/1.8.0/jquery.min.js"></script>
	<script>
		window.jQuery || document.write('<script src="/static/scripts/vendor/jquery.min.js"><\/script>')
	</script>

	<!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
	<script>
		var _gaq = [ [ '_setAccount', 'UA-XXXXX-X' ], [ '_trackPageview' ] ];
		(function(d, t) {
			var g = d.createElement(t), s = d.getElementsByTagName(t)[0];
			g.src = ('https:' == location.protocol ? '//ssl' : '//www')
					+ '.google-analytics.com/ga.js';
			s.parentNode.insertBefore(g, s)
		}(document, 'script'));
	</script>

	<!-- build:js scripts/plugins.js -->
	<script src="/static/bootstrap.min.js"></script>
	<!-- endbuild -->
	<script src="http://cdn.leafletjs.com/leaflet-0.7.1/leaflet.js?2"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/d3/3.3.11/d3.min.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.5.2/underscore-min.js"></script>
	<script>
            var stats = {{stats|tojson|safe}}
	</script>

	<script src="/static/city.js"></script>

</body>
</html>
